# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\下载\课程\个人项目\05、个人资讯实战开发-SpringBoot整合配置文件的注意事项&博客内容查询等2个文件\05、个人资讯实战开发-SpringBoot整合配置文件的注意事项&博客内容查询等2个文件\05、个人资讯实战开发-SpringBoot整合配置文件的注意事项&博客内容查询\03、源码\kss-web-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
